# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Env files
.env
.env.local
*.env

# Build output
dist/
build/
.next/
out/

# Smart contract
cache/
artifacts/
broadcast/

# OS/editor
.DS_Store
.vscode/
*.log

# IPFS/temp
tmp/
